In [1]:
from datetime import datetime
import pytz
import Bio

In [2]:
import os,sys
import pandas as pd

pd.set_option('display.max_columns', 20) # 최대 20개의 컬럼만 표시
pd.set_option('display.expand_frame_repr', False) # 넓은 DataFrame이 화면 너비를 초과하더라도 여러 줄로 wrapping 되지 않고, 가능한 한 한 줄에 모든 컬럼

In [3]:
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
from timeit import default_timer as timer
import re
import matplotlib 
import matplotlib.pyplot as plt

In [4]:
valid_df = pd.read_csv(f'/home/bio_science/structure_prediction/rna_folding_kaggle/data/validation_sequences.csv')
label_df = pd.read_csv('/home/bio_science/structure_prediction/rna_folding_kaggle/data/validation_labels.csv')

In [5]:
label_df.head()

        ID resname  resid    x_1        y_1        z_1           x_2           y_2           z_2           x_3  ...          z_37          x_38          y_38          z_38          x_39          y_39          z_39          x_40          y_40          z_40
0  R1107_1       G      1 -5.499   8.520000   8.605000 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18
1  R1107_2       G      2 -5.826  10.453000  14.010000 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18
2  R1107_3       G      3 -5.849  14.768000  17.584999 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18
3  R1107_4       G      4 -5.784  19.985001  18.666000 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18
4  R1107_5       G      5 -5.755  25.533001  17.132999 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18

[5 rows x 123 columns]

In [6]:
label_df['target_id'] = label_df['ID'].apply(lambda x: '_'.join(x.split('_')[:-1]))

In [7]:
label_df.head()

        ID resname  resid    x_1        y_1        z_1           x_2           y_2           z_2           x_3  ...          x_38          y_38          z_38          x_39          y_39          z_39          x_40          y_40          z_40  target_id
0  R1107_1       G      1 -5.499   8.520000   8.605000 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18      R1107
1  R1107_2       G      2 -5.826  10.453000  14.010000 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18      R1107
2  R1107_3       G      3 -5.849  14.768000  17.584999 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18      R1107
3  R1107_4       G      4 -5.784  19.985001  18.666000 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18      R1107
4  R1107_5       G      5 -5.755  25.533001  17.132999 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18  ... -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18 -1.000000e+18      R1107

[5 rows x 124 columns]

In [8]:
print('len(valid_df)',len(valid_df))
print(valid_df.iloc[0])
print('')

len(valid_df) 12
target_id                                                      R1107
sequence           GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUU...
temporal_cutoff                                           2022-05-28
description        CPEB3 ribozyme\nHuman\nhuman CPEB3 HDV-like ri...
all_sequences      >7QR4_1|Chain A|U1 small nuclear ribonucleopro...
Name: 0, dtype: object

In [10]:
NUM_CONF=5
MAX_LENGTH=480
DEVICE='cuda'